<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/Navbar.css" />
    <title>Navbar</title>
  </head>

  <body>
    <nav id="topbar">
      <a class="link-logo" href="">
        <img src="../Img/RootOn_Logo.png" alt="RootOn Logo" />
      </a>
      <div id="link-item-wrapper">
        <a class="link-item" href="">Home</a>
        <a class="link-item" href="">Home</a>
        <a class="link-item" href="">Home</a>
      </div>
      <div id="logout-btn">
        <button>Logout</button>
      </div>
      <div class="seleted-link"></div>
    </nav>
  </body>
</html>
